@page
@model Client_API.Pages.Consoles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsoledeJeux[0].Model)
            </th>
          @*
            <th>
            @Html.DisplayNameFor(model => model.Constructeur[0].Name)
            </th>
            *@
            <th>
                Constructor Name
            </th>
            

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ConsoledeJeux) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>

             <td>
                    @Html.DisplayFor(constructeurName => Model.Constructeur[ Model.ConsoledeJeux.IndexOf(item)].Name)
            </td>

            
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
}
    </tbody>
</table>
